.MarketContainer {
  padding: 0.5vw;
  font-family: "Space Grotesk";
  font-weight: bold;
}

.TableWrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 1rem;
}

.SubContainer {
  border-top: 2px solid #cfcfcf;
  margin-top: 1vh;
}

.MarketTitle {
  font-size: clamp(2rem, 5vw, 3rem);
}

.MarketTable {
  width: 100%;
  min-width: 800px;
  border-collapse: separate;
  border-spacing: 1.5vw 3vw 1.5vw 3vw;
}

.MarketTable td {
  border-bottom: 1px solid rgb(199, 199, 199);
}

.MarketTbRow {
  width: clamp(4rem, 8vw, 6rem);
  align-items: center;
  display: flex;
  gap: 1vh;
}

.CoinImg {
  width: clamp(1rem, 2vw, 1.5rem);
  height: auto;
}

.MarketSubTitles th {
  text-align: left;
  padding: 10px 0;
}

.SubCategoriesContainer {
  display: flex;
  gap: 20px;
}

.SubCategories {
  text-decoration: none;
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-family: "inter";
  color: rgb(120, 120, 120);
  transition: 0.3s;
}

.SubCategories:hover {
  color: rgb(46, 46, 46);
}

.ActiveCategory {
  text-decoration: none;
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-family: "inter";
  color: rgb(46, 46, 46);
  border-bottom: 2px solid black;
}
/*bellow btns*/
.PageBtnContainer {
  display: flex;
  justify-content: center;
  gap: 1.5vw;
  margin-top: 2vh;
}

.PreviousBtn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: "inter";
  transition: 0.2s;
}

.PreviousBtn:hover {
  color: grey;
}

.NextBtn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: "inter";
  transition: 0.2s;
}

.NextBtn:hover {
  color: grey;
}

@media (max-width: 1106px) {
  .MarketTable th,
  .MarketTable td {
    font-size: 0.7rem;
    padding-right: 20px;
  }
}
