body {
  margin: 0;
  padding: 0;
}

.MarketContainer {
  padding: 0.5vw;
  font-family: "Space Grotesk";
  font-weight: bold;
}

.SubContainer {
  border-top: 2px solid #cfcfcf;
  margin-top: 1vh;
}

.MarketTitle {
  font-size: clamp(2rem, 5vw, 3rem);
}

.MarketTable {
  min-width: 90vw;
  border-collapse: separate;

  border-spacing: 1.5vw 2vw 1.5vw 2vw;
}

.MarketTbRow {
  width: clamp(4rem, 8vw, 6rem);
  align-items: center;
  display: flex;
  gap: 1vh;
}

.CoinImg {
  width: 1.5vw;
  height: auto;
}
.MarketSubTitles th {
  text-align: left;
  padding: 10px 0;
}

.SubCategoriesContainer {
  display: flex;
  gap: 20px;
}

.SubCategories {
  text-decoration: none;
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-family: "inter";
  color: rgb(120, 120, 120);
  transition: 0.3s;
}

.SubCategories:hover {
  color: rgb(46, 46, 46);
}

.ActiveCategory {
  text-decoration: none;
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-family: "inter";
  color: rgb(46, 46, 46);
  border-bottom: 2px solid black;
}

.PageBtnContainer {
  display: flex;
  justify-content: center;
  gap: 1.5vw;
  margin-top: 2vh;
}

.PreviousBtn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: "inter";
  transition: 0.2s;
}

.PreviousBtn:hover {
  color: grey;
}

.NextBtn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: "inter";
  transition: 0.2s;
}

.NextBtn:hover {
  color: grey;
}
