.FooterContainer {
  display: flex;
  justify-content: center;
  border-top: rgb(200, 200, 200) solid 2px;
  align-items: center;
}

.Title {
  font-size: clamp(0.5rem, 1.6vw, 0.7rem);
  font-family: "inter";
  color: rgb(146, 146, 146);
}

.Name {
  font-family: "inter";
  color: rgb(146, 146, 146);
  text-decoration: none;
}
