.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f4f6;
  color: white;
  border-bottom: #cfcfcf solid 2px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.5vw;
  min-height: 60px;
}

.BigLogo {
  width: clamp(120px, 15vw, 180px);
  height: auto;
  display: block;
}

.NavLinks {
  margin: 0;
}

.Container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.LoginBtn {
  background-color: #0086e5;
  color: #f5eeec;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Space Grotesk", sans-serif;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  padding: 10px 20px;
  text-decoration: none;
  white-space: nowrap;
}

.LoginBtn:hover {
  background-color: #0368db;
  color: #f5eeec;
}

.LogoutBtn {
  background-color: transparent;
  color: #db0303;
  border: none;
  font-weight: bold;
  font-family: "Space Grotesk", sans-serif;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  cursor: pointer;
  padding: 5px;
}

.LogoutBtn:hover {
  color: #a70303;
}

.WatchList {
  text-decoration: none;
  color: #313131;
  font-family: "Space Grotesk", sans-serif;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  white-space: nowrap;
}

.UserName {
  color: #313131;
  font-weight: bold;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 300px;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 564px) {
  .UserName {
    display: none;
  }
}
