.PreloaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.Logo {
  width: 150px;
  animation: pulse 2s infinite ease-in-out;
}

.Spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #cfcfcf;
  border-top: 4px solid #0086e5;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.Text {
  font-family: "Space Grotesk", sans-serif;
  color: #313131;
  font-size: 1rem;
  letter-spacing: 1px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.8;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
